// set your custom colors here
$siteBgColorCustom: #f2f2f1;
$sidebarBgColorCustom: #FFFFFF;
$textColorCustom: #404040;
$sidebarTextColorCustom: #2c2857;
$headlineColorCustom: #0A1FA6;
$headingColorCustom: #0A1FA6;
$bodyLinkColorCustom: #2c2857;
$navLinkColorCustom: #0A1FA6;
$sidebarLinkColorCustom: #2c2857;
$footerTextColorCustom: #706E6C;
$buttonTextColorCustom: #FFFFFF;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #0A1FA6;
$buttonHoverBgColorCustom: #051057;
$borderColorCustom: #0A1FA6;
